:root {
  --grind-pink: #F5DADF;
  --grind-grey-0: #706C69;
  --grind-grey-1: #959291;
  --grind-grey-2: #E2DBD5;
  --grind-grey-4: #F8F7F7;
  --grind-white: #FFFFFF;
  --grind-charcoal: #2D2926;
  --grind-green: #52B57A;
}
@font-face {
  font-family: 'Apercu Pro';
  src: local('Apercu Pro'), url(./fonts/apercu/apercu_regular_pro.otf) format('opentype');
}

@font-face {
  font-family: 'Argent CF';
  src: local('Argent CF'), url(./fonts/argent/ArgentRegular.otf) format('opentype');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Apercu Pro;
  font-size: 17;
  font-weight: 700;
  color: var(--grind-charcoal);
}

.h1,
.h2 {
  font-family: Argent CF;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0 auto;
}
